NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_LEVELAB_API_URL=http://localhost:8080/api/v1
NEXT_PUBLIC_ATENDIMENTO_WEBCHAT_URL=https://chat.atendimento.center
NEXT_PUBLIC_LIA_WHATSAPP_NUMBER=5515981383291
NEXT_PUBLIC_COMMERCIAL_WHATSAPP_NUMBER=5562994091930
